TAVILY_API_KEY = "your-tavily-api-key"

MODEL_PROVIDER = "openai or gemini or groq"

# Option A: OpenAI API Key
OPENAI_API_KEY = "your-openai-api-key"
OPENAI_MODEL = "your-openai-model"

# Option B: Groq API Key
GROQ_API_KEY = "your-groq-api-key"
GROQ_MODEL = "your-groq-model"

# Option C: Gemini API Key
GEMINI_API_KEY = "your-gemini-api-key"
GEMINI_MODEL = "your-gemini-model"

VOYAGE_API_KEY = "your-voyage-api-key"

TYPESAFE_API_KEY = "your-typesafe-api-key"
MONGODB_URI = "your_mongodb_connection_string"