# Notice:
# We are using two model type:
# 1. Normal model: Which does research and answer query and plans for you
# 2. Smaller model: Model which is smaller for normal chat and summarisation

TAVILY_API_KEY = "your-tavily-api-key"

MODEL_PROVIDER = "openai or gemini or groq"

# Option A: OpenAI API Key
OPENAI_API_KEY = "your-openai-api-key"
OPENAI_MODEL = "your-openai-model-name"
OPENAI_SMALLER_MODEL = "your-openai-smaller-model-name"

# Option B: Groq API Key
GROQ_API_KEY = "your-groq-api-key"
GROQ_MODEL = "your-groq-model-name"
GROQ_SMALLER_MODEL = "your-groq-smaller-model-name"

# Option C: Gemini API Key
GEMINI_API_KEY = "your-gemini-api-key"
GEMINI_MODEL = "your-gemini-model-name"
GEMINI_SMALLER_MODEL = "your-gemini-smaller-model-name"

VOYAGE_API_KEY = "your-voyage-api-key"
TYPESAFE_API_KEY = "your-typesafe-api-key"

MONGODB_URI = "your_mongodb_connection_string"